<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.profile.username %></strong>
    <i><%= message.created_at.strftime("%a %e %B %Y %e:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
