<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.profile.username %></strong>
    <i><%= message.created_at.strftime(" %a %e %b %y %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
