// <div class="profile-card" style="width: 18rem;">
//   <img class="profile-card-img-top" src="..." alt="Card image cap">
//   <div class="profile-card-body">
//     <h5 class="profile-card-title">Card title</h5>
//     <p class="profile-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
//     <a href="#" class="btn btn-primary">Go somewhere</a>
//   </div>
// </div>


.card-profile {
  width: 500px;
  padding-bottom: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  // margin-top: 10px;
  margin: 0 auto;
  // margin-left: 30px;
  display: flex;
  color: black;
  // position: relative;

  // align-items: flex-start;
  // flex-grow: 1;
}

// .card-profile {
//   img {
//     border-radius: 50%;
//     width: 100px;
//     height: 100px;
//     position: absolute;
//     right: 16px;
//     top: -20px;
//   }
// }

.card-profile h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-profile p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 50px;
}

.card-profile .card-profile-infos {
  padding: 16px;
}

.card-profile-user {
  display: flex;
  background: linear-gradient(135deg, aliceblue, #7EA895);
  padding: 8px;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

.card-profile-fullname {
  margin-left: 10px;
  p {
    font-size: 16px;
    margin-top: 0px;
  }
  h5 {
    margin-bottom: 0px;
  }
}

#banner-profile-show {
  padding-top: 60px;
  padding-bottom: 30px;

}

.avatar-profile-show {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

.card-profile-tabs {
  width: 500px;
  height: 100px;
  // justify-content: space-evenly;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  color: black;
  padding-left: 34px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

// .profile-wrap {

// }

.container-profile-comment {
  width: 500px;
  padding: 16px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;

  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  color: black;
}

.container-profile-comment-input{
  width: 500px;
  padding: 16px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  // text-align: center;
  margin: 0 auto;
  display: flex;
  color: black;
}
