.btn-success {
  border-radius: 7px;
  vertical-align: middle;
  height: fit-content;
  width: fit-content;
  a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
  }
}
.float-button {
  position:fixed;
  bottom:80px;
	right:40px;
}
.float-button1 {
  position:fixed;
  bottom: 130px;
	right:40px;
}


.float-button-chatroom {
  position: fixed;
  bottom: 669px;
  left: 40px;
}
