.container-showtrip {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

.body {
  background-image: linear-gradient(aliceblue, #7ea895);
  background-size: cover;
  background-position: center;
}

.container-trip-index {
  display: flex;
}
.container-trip-index-cards {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
