.container-showtrip {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

.body {
  background-image: linear-gradient(aliceblue, #7ea895);
  background-size: cover;
  background-position: center;
}

.container-trip-index {
  display: flex;
}
.container-trip-index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  grid-gap: 20px;
  flex-wrap: wrap;
}
// @media screen and (max-width: 480px) {
//   .container-trip-index-cards {
//     grid-template-column: 1fr;
//   }
// }
