.overall-container-tripshow {
  display: flex;
  align-content: center;
}

.container-showtrip {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
  width: auto;
  align-content: center;

}

.container-chatroom {
  border-radius: 10px;
  height: 100vH;
  padding: 110px;
  margin-left: 15%;
  margin-right: 15%;
  a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #0c5836;
    border-radius: 7px;
  }
  h1 {
    color:#0c5836;
    font-weight:200;
    font-size: xx-large;
  }
  p {
    font-size: larger;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-showtrip {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-showtrip {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-showtrip {
    grid-template-columns: 1fr ;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-showtrip {
    grid-template-columns: 1fr ;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-showtrip {
    grid-template-columns: 1fr ;
  }
}
.body {
  background-image: linear-gradient(aliceblue, #7ea895);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  min-height: 100vh;
  font-family: 'Merriweather Sans', sans-serif;
  h2 {
    font-family: 'Montserrat', sans-serif;
    }
  // h3 {
  //   font-family: 'Playfair Display SC', serif;
  // }
  // h4 {
  //   a {
  //     font-family: 'Playfair Display SC', serif;
  //  }
  // }
  h5 {
    font-family: 'Montserrat', sans-serif;
   }
  // h6 {
  //   font-family: 'Playfair Display SC', serif;
  // }
}


.container-trip-index {
  display: flex;
}

.container-trip-index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  grid-gap: 20px;
  margin: 55px;
  flex-wrap: wrap;
}
.banner-background {
  width: 100%;
  height: 100%;
  background-image: url("mountainlake.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  align-content: center;
}

// Smallest device
@media (min-width: 7rem) and (max-width: 36rem) {
  .container-trip-index-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 36rem) {
  .container-trip-index-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 46rem) {
  .container-trip-index-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 73rem) {
  .container-trip-index-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 107rem) {
  .container-trip-index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
