.container-welcome {
  height: 1000px;
  width: 100%;
  text-align: center;
  // color: #F7F6DC;
  color: white;
  position: relative; top: 100px;
  margin: 0 auto;
}

.container-searchbar {
  width: 500px;
  // text-align: center;
  // color: #F7F6DC;
  // color: #969336;
  margin: 0 auto;
}



// .button {
//   background: linear-gradient(#33b565, #168440);
//   color: white;
//   border-radius: 5px;
//   height: 15px;
//   width: 25px;
//   font-family: Nunito, Helvetica, sans-serif;
// }

// .button:hover {
//   background-color: #168440;
//   color: white;
//   height: 20px;
//   width: 30px;
// }
