.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.map-container-showtrip {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
