.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.map-container-showtrip {
  height: 400px;
  top: 0;
}
.map-container-trips-index {
  height: 100vh;
  flex-grow: 1;
  position: sticky;
  top: 70px;
}
