.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(white, #ecf8f4);
  box-shadow: 3px 3px 3px rgba(#cbe1da, 0.8);
  position: sticky;
  top: 0;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 90px;
}
.navbar-username {
  vertical-align: middle;
  margin-right: 10px;
}

// .nav-logo {
/*   position: relative; left: 500px;
 */

@media screen and (max-width: 900px) {
  .nav-logo {
    position: unset;
    left: unset;
  }

//   .navbar-brand {
//   }
// }
