// landing page
.container-searchbar {
  width: 500px;
  // text-align: center;
  // color: #F7F6DC;
  // color: #969336;
  margin: 0 auto;
}
.container-search-parent {
  justify-content: center;
  display: flex;
}


// .button {
//   background: linear-gradient(#33b565, #168440);
//   color: white;
//   border-radius: 5px;
//   height: 15px;
//   width: 25px;
//   font-family: Nunito, Helvetica, sans-serif;
// }

// .button:hover {
//   background-color: #168440;
//   color: white;
//   height: 20px;
//   width: 30px;
// }

// trips index
.search-bar-trip-index {
  width: 450px;
  padding-top: 35px;
}
.container-search-bar-trip-index {
  display: flex;
  justify-content: center;
}
